/* Variables */
:root {
  --skynet-red: #ea3323;
}

body {
  background: #000;
  color: #fff;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  color: #fff;
  text-decoration: none;
  background: var(--skynet-red);
  border-radius: 50px;
  padding: 5px 10px;
}
