/* Variables */
:root {
  --skynet-red: #ea3323;
}

a {
  color: #fff;
}

body {
  background: #000;
  color: #fff;
}

.content {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  color: #fff;
  text-decoration: none;
  background: var(--skynet-red);
  border-radius: 50px;
  padding: 10px 20px;
  margin: 10px;
  font: sans-serif;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid var(--skynet-red);
}

.btn:hover {
  color: var(--skynet-red);
  background-color: #fff;
}
